asn1crypto==0.24.0
certifi==2019.3.9
cffi==1.12.3
chardet==3.0.4
cryptography==2.7
defusedxml==0.6.0
dj-database-url==0.5.0
Django==2.2.2
django-allauth==0.39.1
django-bmemcached==0.2.4
django-jwt-auth==0.0.2
django-oauth-toolkit==1.0.0
django-sendgrid-v5==0.8.0
django-slack-oauth==1.5.0
enum34==1.1.6
future==0.17.1
gunicorn==19.9.0
idna==2.8
ipaddress==1.0.22
jsonfield==2.0.2
oauthlib==3.0.1
protobuf==3.8.0
psycopg2-binary==2.8.2
pycparser==2.19
PyJWT==1.7.1
python-binary-memcached==0.28.0
python-dateutil==2.8.0
python-gflags==3.1.2
python-http-client==3.1.0
python-openid==2.2.5
python3-openid==3.1.0
pytz==2019.1
requests==2.22.0
requests-oauthlib==1.2.0
sendgrid==6.0.5
sentry-sdk==0.9.0
six==1.12.0
sqlparse==0.3.0
typing==3.6.6
uhashring==1.1
urllib3==1.25.3
whitenoise==4.1.2
