-r requirements.txt
asttokens==2.0.5
attrs==20.3.0
colorama==0.4.4
coverage==5.5
django-stubs-ext==0.2.0
django-stubs==1.8.0
executing==0.6.0
filelock==3.0.12
flake8==3.9.1
freezegun==1.1.0
icecream==2.1.0
importlib-metadata==4.0.1
iniconfig==1.1.1
mccabe==0.6.1
more-itertools==8.7.0
mypy-extensions==0.4.3
mypy-protobuf==2.4
mypy==0.812
packaging==20.9
pipdeptree==2.0.0
pluggy==0.13.1
py==1.10.0
pycodestyle==2.7.0
pyflakes==2.3.1
Pygments==2.8.1
pyparsing==2.4.7
pytest-cov==2.11.1
pytest-django==4.2.0
pytest==6.2.3
toml==0.10.2
typed-ast==1.4.3
zipp==3.4.1
